<div class="col-sm-6">
  <div class="card">
    <div class="card-header">
      Forgot password?
    </div>

    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group">
          <%= f.email_field :email, placeholder: 'Email', class: 'form-control' %>
        </div><br>

        <div class="actions">
          <%= f.submit "Send password instructions",class: 'btn btn-primary' %>
        </div>
      <% end %>
      <%#= link_to "Login", new_session_path(resource_name), class: 'fw-bold' %>
    </div>
  </div>
</div>
