<div class="card mt-4">
  <div class="card-header">
    Company Details
  </div>
  <div class="card-body">
    <b>Name: </b><span><%= @company.name%></span><br>
    <b>Host: </b><span><%= @company.host%></span><br>
    <b>Package: </b><span><%= @company.package%></span><br><br>
    <%= link_to "Back", companies_path %>  
  </div>
</div>