<div class="card mt-4">
  <div class="card-header">
    User Details
  </div>
  <div class="card-body">
    <b>User Name: </b><span><%= @user.user_name%></span><br>
    <b>Email: </b><span><%= @user.email%></span><br>
    <b>Company Name: </b><span><%= @user.company_name%></span><br><br>

    <%= link_to "Back", user_index_path %>  
  </div>
</div>