<div class= 'row mt-4'>
  <div class='col-md-6'>
    <h3>Experiences</h3>
  </div>
  <div class='col-md-6'>
    <div class="float-end">
      <%= link_to ' + Add experience pack ', new_experience_pack_path , class: 'btn btn-primary'%>
    </div>
  </div>
  </br>
  </br>
  </br>
  <div class="table-responsive col-md-12">
    <table id="example" class="table table-striped" style="width:100%">
      <thead>
        <tr>
          <th>Experience name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @experience_packs.each do |experience| %>
          <tr>
            <td><%= experience.name %></td>
            <td><%#= link_to "<i class='far fa-eye'></i>".html_safe,company_path(company) %><%= link_to "<i class='far fa-edit'></i>".html_safe,edit_experience_pack_path(experience) %>&nbsp;&nbsp; <%= link_to "<i class='far fa-trash-alt'></i>".html_safe, experience_pack_path(experience), method: :delete, data: { confirm: "Are you sure?" } %></td>
          </tr>
        <% end %>  
      </tbody>
      <!-- <tfoot>
        <tr>
          <th>Name</th>
          <th>Host</th>
          <th>Package</th>
          <th></th>
        </tr>
      </tfoot> -->
    </table>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#example').DataTable();
  } );
</script> 
